body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
rgba(9,9,121,1) 35%, 
 rgba(0,212,255,1) 100%);

}

.main_container{
    padding: 20% 23%;
    text-align: center;
}

.logo{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 3px #0e0125 ;
}

p{
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}


button{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #0e0125;
    padding-left: 70px 0;
}
